
matplotlib==3.9.4
MDAnalysis==2.7.0
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pillow==11.3.0
pip==25.3
plotly==6.5.0
py3Dmol==2.5.3
pyarrow==21.0.0
pycparser==2.23
pyparsing==3.2.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
scipy==1.13.1
setuptools==72.1.0
streamlit==1.50.0
tenacity==9.1.2
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
wheel==0.45.1

